@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
body{
    background-image: url("/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

@theme {
    /* Fonts */
    --font-alkatra: "Noto Sans Bengali", sans-serif;
    --font-arabic: "Noto Kufi Arabic", sans-serif;

    /* Colors */
    --color-hover:#344955;
    --color-button: #78A083;

}

button:hover{
    transform: scale(1.1);
    transition: all linear 0.1s;
}

.afterNav::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #344955;
    transition: all linear 0.3s;
}

.afterNav:hover::after{
    width: 100%;
}

.afterInfo{
    position: relative;
}


.afterInfo::after{
    content: "";
    position: absolute;
    left: -18px;
    top: -30px;
    width: 80px;
    height: 80px;
    border: 4px solid white;
    border-radius: 20px 20px 20px 0;
    z-index: -10;

}



@utility container{
    margin-inline: auto
    
}
